.link-item .content a span.sitename{
  font-size: 1.2rem;
}
.link-item .content a .desc{
  font-size: 15px;
}
.link-item .content a img{
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.link-group{
  grid-template-columns: repeat(2, 50%) !important;
}

.hero-img-prev{
// disbale
  display: none;
}

.hero-img-next{
// disbale
  display: none;
}

// Đổi font size và icon to hơn
.site-name, .navbar .navbar-items-wrapper, .navbar-dropdown-wrapper .navbar-dropdown-title, .navbar-dropdown-wrapper .navbar-dropdown-title-mobile{
  font-size: 1.1rem;
  font-weight: 600;
}
.navbar-items .navbar-item .nav-icon{
  margin-bottom: 5px;
  margin-right: 8px;
}
.navbar-items .navbar-item .nav-icon .ov-icon{
  width: 20px;
}

